<div class='restaurant'>
  <h1><%= @restaurant.name %></h1>

  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.city %></p>
  <p><%= @restaurant.state %></p>
  <p><%= @restaurant.zip_code %></p>
  <p><%= @restaurant.description %></p>
  <h4>Reviews</h4>
  <% @reviews.each  do |review| %>
    <h5> <%= review.rating %> </h5>
    <p> <%= review.body %></p>
  <% end %>
</div>
<div class="button">
  <%= link_to "Review this Restaurant", new_restaurant_review_path(@restaurant) %>
</div>
