<div class='q'>
  <h1><%= @restaurant.name %></h1>

  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.city %></p>
  <p><%= @restaurant.state %></p>
  <p><%= @restaurant.zip_code %></p>
  <p><%= @restaurant.description %></p>
</div>

<%= link_to("Back to Home", restaurants_path)  %>
